.link {
    margin: 20px 0px 0px 0px;
}

.logoutBtn {
    margin: 20px 0px 0px 0px;
}

.form {
    margin: 40px 0px 0px 0px;
}

.inputNickname {
    margin: 20px 0px 0px 0px;
}

.saveProfileInfoBtn {
    margin: 20px 0px 0px 0px;
}

.inputPassword {
    margin: 20px 0px 0px 0px;
}

.savePasswordBtn {
    margin: 20px 0px 0px 0px;
}