.inputEmail {
    margin: 20px 0px 10px 0px;
}

.inputNickname {
    margin: 20px 0px 10px 0px;
}

.inputPassword {
    margin: 20px 0px 10px 0px;
}

.registerBtn {
    margin: 20px 0px 10px 0px;
}

.link {
    margin: 20px 0px 10px 0px;
}