.logoutBtn {
	margin: 20px 0 20px 0;
}

.createGameBtn {
    margin: 20px 0 20px 0;
}

.divTable {
	margin : 20px 0 20px 0;
}

.table {
	border: 1px solid black;
}

.thead {
	color: #036ffe;
}

.tr {
	height: 42px;
}

.td {
	border: 1px solid black;
	width: 160px;
	text-align: center;
	word-break: break-all;
}

.joinGameBtn {
	border-radius: 12px;
	color: #b825fc;
}

.deleteBtn {
	border-radius: 12px;
	color: #b60404;
}