.playersTitle {
    text-align: center;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.playersTable {
    border: 1px solid black;
    width: 100%;
    margin: 10px 0 10px 0;
}

.td {
    border: 1px solid black;
    width: 160px;
    text-align: center;
    word-break: break-all;
}
